@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

html,
body,
* {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
    outline: none;
    
   
}
.navbar-toggler i{
    color: white;
    font-weight: 700;
}
.navbar {
    background-color: #fa4402;
    position: fixed;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.205), 0 1px 2px 1px rgba(0, 0, 0, 0.247);
    width: 100%;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    font-weight: 500;
    z-index: 2;
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-nav.socialMedia .nav-item .nav-link {
    font-size: 16px;
}
.dropdown-menu{
    background-color: rgb(77, 77, 77);
    
}
.dropdown-menu .dropdown-item{
    transition: 0.3s all ease;
    color: white;
    font-weight: 600;
}
.dropdown-menu .dropdown-item:hover{
    background-color: red;
}
.secondNavbar a{
    font-size: 10px;
}

.secondNavbar {
    background-color: rgb(25, 35, 45);
    position: static;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.205), 0 1px 2px 1px rgba(0, 0, 0, 0.247);
    width: 100%;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    font-weight: 500;
    z-index: 2;
}
.socialMedia li a i:hover{
    color: black;
}
@media(max-width:767px) {

    html,
    body,
    * {
        font-size: 12px;
    }

    .navbar-nav.socialMedia {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .navbar-nav.socialMedia .nav-item .nav-link {
        padding: 0.5rem 1rem;
    }

    .navbar-collapse {
        order: 2;
    }

    .navbar-right {
        order: 1;
    }

    .navbar-nav.socialMedia .nav-item .nav-link {
        font-size: 14px;
    }
    .dropdown-menu{
        width: 100%;
    }
}
.secondNavbar div ul .nav-item{
    transition: 0.3s all ease;
   
}
.secondNavbar div ul .nav-item:hover{
    background-color: rgb(225, 34, 20);
    
}
.nav-item.dropdown.show{
    flex-direction: column;
}
@media all and (min-width: 800px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	