<%-include("./partials/header")%>
    <div class="container homeContainer">
        <div class="homeContainerLeft">
            <div class="homeContainerLeft_blogPosts">
                <div class="post hentry">
                    <div class="post-header">
                        <div class="post-head">
                            <h1 class="post-title entry-title" itemprop="name">
                                About Us
                            </h1>
                        </div>
                    </div>
                    <article>
                        <div class="post-body entry-content" itemprop="articleBody">
                            <meta
                                content=" Litecheats is one of the top hacking website for games.Our hacks are safe and private.We are ranked #1 in PUBG Mobile hacks for emulator."
                                name="twitter:description">
                            <div dir="ltr" style="text-align: left;" trbidi="on">
                                <b>
                                    Litecheats is one of the top hacking website for games.Our hacks are safe and private.We are ranked #1 in PUBG Mobile hacks for emulator.</b>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="homeContainerRight">

        </div>
    </div>
    <%-include("./partials/footer")%>