<%-include("./partials/headerFirst")%>
<title>Disclaimer - Litecheats</title>
    <meta name="description" content="All the information on
    this website - https://www.litecheats.org/ - is published in good faith and for
    general information purpose only. Litecheats Official does not make any
    warranties about the completeness, reliability and accuracy of this
    information.">
<%-include("./partials/headerSecond")%>
    <div class="container homeContainer">
        <div class="homeContainerLeft">
            <div class="homeContainerLeft_blogPosts">
                <div class="post hentry">
                    <div class="post-header">
                        <div class="post-head">
                            <h1 class="post-title entry-title" itemprop="name">
                                Disclaimers
                            </h1>
                        </div>
                    </div>
                    <article>
                        <div class="post-body entry-content" itemprop="articleBody">
                            <meta
                                content="  Disclaimer for Litecheats Official   If you require any more information or have any questions about our site's disclaimer, please feel fre..."
                                name="twitter:description">
                            <div dir="ltr" style="text-align: left;" trbidi="on">
                                <h1
                                    style="background-color: white; box-sizing: border-box; color: #666666; font-size: 36px; font-weight: 400; line-height: 1.1; margin: 0px 0px 18px;">
                                    Disclaimer for Litecheats Official</h1>
                                <div style="background-color: white; box-sizing: border-box; margin-bottom: 20px;">
                                    <span style="color: #666666; "><span style="font-size: 14px;">If you require any
                                            more information or have any questions about our site's disclaimer, please
                                            feel free to contact us by email at
                                            litecheatsofficial@gmail.com</span></span><br>
                                    <span style="color: #666666; "><span style="font-size: 14px;"><br></span></span>
                                    <span style="color: #666666; "><span style="font-size: 14px;">Disclaimers for Litecheats
                                            Official</span></span><br>
                                    <span style="color: #666666; "><span style="font-size: 14px;">All the information on
                                            this website - https://www.litecheats.org/ - is published in good faith and for
                                            general information purpose only. Litecheats Official does not make any
                                            warranties about the completeness, reliability and accuracy of this
                                            information. Any action you take upon the information you find on this
                                            website (Litecheats Official), is strictly at your own risk. Litecheats Official will
                                            not be liable for any losses and/or damages in connection with the use of
                                            our website. Our Disclaimer was generated with the help of the Disclaimer
                                            Generator and the Disclaimer Generator.</span></span><br>
                                    <span style="color: #666666; "><span style="font-size: 14px;"><br></span></span>
                                    <span style="color: #666666; "><span style="font-size: 14px;">From our website, you
                                            can visit other websites by following hyperlinks to such external sites.
                                            While we strive to provide only quality links to useful and ethical
                                            websites, we have no control over the content and nature of these sites.
                                            These links to other websites do not imply a recommendation for all the
                                            content found on these sites. Site owners and content may change without
                                            notice and may occur before we have the opportunity to remove a link which
                                            may have gone 'bad'.</span></span><br>
                                    <span style="color: #666666; "><span style="font-size: 14px;"><br></span></span>
                                    <span style="color: #666666; "><span style="font-size: 14px;">Please be also aware
                                            that when you leave our website, other sites may have different privacy
                                            policies and terms which are beyond our control. Please be sure to check the
                                            Privacy Policies of these sites as well as their "Terms of Service" before
                                            engaging in any business or uploading any information.<br/></span></span><br>
                                    <h2 style="text-align: left;">
                                        <span style="color: #666666; "><span
                                                style="font-size: 14px;">Consent</span></span>
                                    </h2>
                                    <span style="color: #666666; "><span style="font-size: 14px;">By using our website,
                                            you hereby consent to our disclaimer and agree to its
                                            terms.<br/></span></span><br>
                                    <h2 style="text-align: left;">
                                        <span style="color: #666666; "><span
                                                style="font-size: 14px;">Update</span></span>
                                    </h2>
                                    <span style="color: #666666; "><span style="font-size: 14px;">Should we update,
                                            amend or make any changes to this document, those changes will be
                                            prominently posted here.</span></span>
                                </div>
                            </div>
                        </div>
                    </article>
                   
                </div>
            </div>
        </div>
       
    <%-include("./partials/footer")%>