<script src="/socket.io/socket.io.js"></script>
<script>
    var currentUser = <% - JSON.stringify(currentUser) %>
        currentUser.myOrders=[]
    var totalRates = <% - JSON.stringify(totalRates) %>
        currentUser.password="asdsa";
</script>
<script src="/js/main.js"></script>
<div class="supportbox">

    <div id='tawk_629b0f62b0d10b6f3e75a543'></div>
</div>

<!--Start of Tawk.to Script-->

<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date(); Tawk_API.embedded = 'tawk_629b0f62b0d10b6f3e75a543';
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/629b0f62b0d10b6f3e75a543/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
    $(document).on("click", ".headerBoxIcon", function (e) {
        e.preventDefault()
        $('#tawk_629b0f62b0d10b6f3e75a543').hide();
        $('#closeSupport').hide();
    })






    document.getElementById('rzp-button1').onclick = async (e) => {
        e.preventDefault();
        const res = await fetch('/razorpay_orderId', {
            body: JSON.stringify({
                rechargeAmount: document.getElementById("rechargeAmount").value
            }),
            headers: {
                "Content-Type": "application/json",
            },
            method: "POST",
        })
        const { order } = await res.json();
        const rzrPay = await initializeRazorpay();
        if (!rzrPay) {
            alert("Razorpay SDK Failed to load");
            return;
        }
        var options = {
            key: 'rzp_live_m8Hxh1JhLrxXPh', // Enter the Key ID generated from the Dashboard
            name: "Litecheats Official",
            currency: order.currency,
            amount: order.amount,
            order_id: order.id,
            description: "LC Recharge Section",
            image: "https://litecheats.org/images/litecheats.png",
            handler: async (response) => {
                location.reload();
            },
        };

        const paymentObject = new window.Razorpay(options);
        paymentObject.open();
    }
    const initializeRazorpay = () => {
        return new Promise((resolve) => {
            const script = document.createElement("script");
            script.src = "https://checkout.razorpay.com/v1/checkout.js";
            // document.body.appendChild(script);

            script.onload = () => {
                resolve(true);
            };
            script.onerror = () => {
                resolve(false);
            };

            document.body.appendChild(script);
        });
    };

</script>
<!--End of Tawk.to Script-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>