<div class="homeContainerRight">
  <div class="homeContainerRight_searchWidget">
    <div class="fvv"></div>
    <form class="hSearch" action="/dashboard" method="GET">
      <div class="row vx">
        <div class=" col-12 input-group input-group mb-3 mt-3 d-flex justify-content-center">
          <input type="text" autocomplete="off" class="form-control" onkeyup="showResults(this.value)" name="search" placeholder="Search posts..." aria-describedby="button-addon2">
          <div class="input-group-append">
            <button id="searchButton" type="submit" class="btn btn-danger" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
          </div>
          <div style="position: relative;width:100%;top:-1px;">
              <div class="border" id="search-results">
              </div>
            </div>
        </div>
      </div>
    </form>
  </div>
  <div class="homeContainerRight_discordWidget">
    <div class="homeContainerRight_discordWidget_warning">
       <div class="homeContainerRight_discordWidget_warning_help">
          JOIN DISCORD FOR HELP
       </div>
    </div>
    <iframe src="https://discord.com/widget?id=993498815736848434&theme=dark" 
      
      allowtransparency="true" 
      frameborder="0"
      sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
    </iframe>
  </div>
</div>
</div>
<div class='footer'>
  <div class='footer_logos'>
    <div class='footer_logos_brand'>
      <img src='/images/litecheats.png' alt='litecheats' />
    </div>
    <div class='footer_logos_socialmedia'>
      <a href='/discord'><img src='/images/discordLogo.png' alt='discord' /></a>
      <a href='/youtube'><img src='/images/youtube.png' alt='youtube' /></a>
      <a href='/contact-us'><img src='/images/email.png' alt='contactus' /></a>
    </div>
  </div>
  <div class='footer_about'>
    <div class='footer_about_title'>
      About
    </div>
    <div class='footer_about_location'>
      <div class="p-2">
        <i class="fas fa-pen"></i>
      </div>

      <div class='footer_about_location_text'>
        Litecheats is one of the top hacking website for games.Our hacks are safe and private.We are ranked #1 in PUBG
        Mobile hacks for emulator.
      </div>
    </div>
    <div class='footer_about_phonenumber'>
      <div class="p-2">
        <i class="fas fa-envelope"></i>
      </div>
      <div class='footer_about_phonenumber_number'>
        litecheatsofficial@gmail.com
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>