
  
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/cb06eac06f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/mainNavbar.css">
    <link rel="stylesheet" href="/stylesheets/brandContainer.css">
    <link rel="stylesheet" href="/stylesheets/mainsf.css">
    
    

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/disclaimer">Disclaimer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/privacy-policy">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-us">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-us">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Shop</a>
                </li>
            </ul>

        </div>
        <div class="navbar-right">
            <ul class="navbar-nav socialMedia">
                
                <li class="nav-item active">
                    <a class="nav-link" href="/discord">
                        <i style="color:#ffffff;" class="fab fa-discord fa-sm"></i>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contact-us">
                        <i style="color:#ffffff;" class="fas fa-envelope fa-sm"></i>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/youtube">
                        <i style="color:rgb(255, 255, 255);" class="fab fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class='brandContainer'>
        <div class="header">
            <a href="/login">
                <img src='/images/ads1.png' alt='litecheats10percentoff'/>
            </a>
        </div>
        <div class="header">
            <a href="/login">
                <img src='/images/ads2.png' alt='litecheats10percentoff'/>
            </a>
        </div>
        
    </div>
    <nav class="navbar secondNavbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="#">TOOLS MENU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentTwo" aria-controls="navbarSupportedContentTwo" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContentTwo">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                GAMELOOP
              </a>
              <div class="dropdown-menu fade-down" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/search/GAMELOOP BYPASS">GAMELOOP BYPASS</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/search/GAMELOOP HACK">GAMELOOP HACK</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  SMARTGAGA
                </a>
                <div class="dropdown-menu fade-down" aria-labelledby="navbarDropdown1">
                  <a class="dropdown-item" href="/search/SMARTGAGA BYPASS">SMARTGAGA BYPASS</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/search/SMARTGAGA HACK">SMARTGAGA HACK</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  LDPLAYER
                </a>
                <div class="dropdown-menu fade-down" aria-labelledby="navbarDropdown2">
                  <a class="dropdown-item" href="/search/LDPLAYER BYPASS">LDPLAYER BYPASS</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/search/LDPLAYER HACK">LDPLAYER HACK</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  MOBILE HACKS
                </a>
                <div class="dropdown-menu fade-down" aria-labelledby="navbarDropdown3">
                  <a class="dropdown-item" href="/search/PUBG ANDROID HACK">PUBG ANDROID HACK</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/search/PUBG IPHONE HACK">PUBG IPHONE HACK</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  PUBG VERSIONS
                </a>
                <div class="dropdown-menu fade-down" aria-labelledby="navbarDropdown4">
                  <a class="dropdown-item" href="/search/PUBG GLOBAL">PUBG GLOBAL</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/search/PUBG KOREAN">PUBG KOREAN</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/search/PUBG TAIWAN">PUBG TAIWAN</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/search/PUBG VIETNAM">PUBG VIETNAM</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/search/BATTLEGROUND INDIA">BATTLEGROUND INDIA</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  PAID HACKS
                </a>
                <div class="dropdown-menu fade-down" aria-labelledby="navbarDropdown5">
                  <a class="dropdown-item" href="/search/GAMELOOP PAID HACK">GAMELOOP PAID HACK</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/search/SMARTGAGA PAID HACK">SMARTGAGA PAID HACK</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/search/LDPLAYER PAID HACK">LDPLAYER PAID HACK</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/search/ANDROID PAID HACK">ANDROID PAID HACK</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/search/IPHONE PAID HACK">IPHONE PAID HACK</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search/PUBG MODE FILES">PUBG MODE FILES</a>
            </li>
          </ul>
        </div>
      </nav>
      